.ipynb_checkpoints
.DS_Store
robobench/videos
robobench/calibration/labware_recognition/models/

.json
digit_test.py
digitmatch.py
extract_digits.py
extract_screen.py
haar_test.py
label_image.py
lcd_screen_detector.xml
processed/
training/
raw/
readnum.py
retrained_graph.pb
retrained_labels.txt
screen.png
screen/
screen1.jpg
test.jpg
test.py
test/
test_imgs/
crops/
norms/
screen/
training/

flat_camera/
