html, body {
  height: 100%;
}


.fill {
  height: 100%;
  min-height: 100%;
}

#grid-holder {
	padding: 0px;
	display: block;
	width: 80%;
	margin: auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%); 
}
/*#grid, th, td, tr {
    border: 1px solid black;
}
*/
th:first-child {
	width: 5%;
}

/* normal cells*/
/*th:not(:first-child), td {
    background-color: red;
} 
*/

.slot-grid > td {
	height: 200px;
	text-align:center; 
    vertical-align:middle;
}


#grid {
  width: 100%;
  height: auto;
  table-layout: fixed;
  padding: 0;
}


/*#grid table tr {
  height: 30%;
}

#grid table td {
	height: 30%;
	width: 20%;
	margin: 2%;
	text-align: center;
}

#grid table td {
	height: 30%;
	width: 15%;
	margin: 2%;
}

.slot-grid > td {
	height: 200px;
	width: 100px;
}
*/

.labware-well-96 {
	background-color: #EEEEEE;
	display: inline-block;
	border: 1px solid #C4C4C4;
	padding: 2px;
}

.well-96 .well {
	border: 0;
	padding: 0;
}

.circle {
	background-color: white;
	border-radius: 50%;
	border: 1px solid #C4C4C4;
/*	border: 1px solid grey;*/
	width: 14px;
	height: 14px;
	margin: 1px;
}

.circle:hover {
	background-color: lime;
}

#dashboard {
	background-color: #F8F9FA;
	border-right: 1px solid #EEEEEE;
	height: fill;
}

#protocols {
	list-style-type:none;
	padding-left: 0;
}

/* all children of protocol will have these properties*/
#protocols > * {
    margin: 15px;
}


