html, body {
  height: 100%;
}

.fill {
  height: calc(100% - 56px);
  min-height: calc(100% - 56px);
}

th:first-child {
	width: 5%;
}

#grid {
  height: 100%;
  width: 100%;
}

#grid th {
  text-align: center;
}

#grid td {
	width: 15%;
  text-align: center;
}

.labware-well-96 {
	background-color: #EEEEEE;
	display: inline-block;
	border: 1px solid #C4C4C4;
	padding: 2px;
}

.labware-well-96 .well {
  height: 18px;
	border: 0;
	padding: 0;
  font-size: 0;
}

.labware-well-96 .dest .cell-being-selected {
  background-color: #fee5d9;
}

.labware-well-96 .dest .cell-selected {
  background-color: #fee5d9;
}

.labware-well-96 .source .cell-being-selected {
  background-color: #edf8e9;
}

.labware-well-96 .source .cell-selected {
  background-color: #edf8e9;
}

.circle {
	background-color: white;
	border-radius: 50%;
	border: 1px solid #C4C4C4;
/*	border: 1px solid grey;*/
	width: 14px;
	height: 14px;
	margin: 1px;
}

.circle:hover {
	background-color: lime;
}

#dashboard {
	background-color: #F8F9FA;
	border-right: 1px solid #EEEEEE;
	height: 100%;
}

#protocols {
	list-style-type:none;
	padding-left: 0;
}

/* all children of protocol will have these properties*/
#protocols > * {
    margin: 15px;
}

.row {
	height: 100%;
}