.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

html, body {
  height: 100%;
}

.fill {
  height: 100%;
  min-height: 100%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#grid {
  height: 100%;
}

#grid table tr {
  height: 30%;
}

#grid table th {
  height: 30%;
	width: 18%;
	margin: 2%;
	text-align: center;
}

#grid table td {
  height: 30%;
	width: 18%;
	margin: 2%;
}

.slot-grid {
}

.labware {
	/*border: 0;*/
}

.well-96 {
	display: inline-block;
	border: 1px solid grey;
	padding: 2px;
}

.well-96 .well {
	border: 0;
	padding: 0;
}

.circle {
	background-color: white;
	border-radius: 50%;
	border: 1px solid grey;
	width: 14px;
	height: 14px;
	margin: 1px;
}

.circle:hover {
	background-color: lime;
}
