.slot-grid > td {
	height: 200px;
	width: 100px;

}

.slot-grid > th {
	width: 20%;

}
.well-96 {
	height: 30px;
	width: 30px;
}

.well {
	background-color: gray;
	padding: 0;
	outline: none;
}

.circle {
	background-color: white;
	border-radius: 50%;
	border: 1px solid grey;
	width: 30px;
	height: 30px; 
	margin: 0;
	padding: 0;
}

.circle:hover {
	background-color: yellow;
}

#dashboard {
	background-color: #F8F9FA;
	border-right: 1px solid #EEEEEE;
	padding: 10px;
}

#protocols {
	list-style-type:none;
	padding-left: 0;
}

/* all children of protocol will have these properties*/
#protocols > * {
    margin: 10px;
}

.deck-labels {
	padding: 0;
}

.table {
	margin:0;
	table-layout: fixed;
}

